.ticket-list {
    margin: 0;
    padding: 0;
}
.ticket-item {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.ticket-item-loading {
    position: relative;
    width: 502px;
    height: 184px;
}