.App {
  min-height: 100%;
  width: 754px;
  margin: 0 auto;
}
.outer-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.inner-container {
  display: flex;
  flex-direction: column;
}