@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root {
  --basic-bg: #E5E5E5;
  --basic-white: #FFFFFF;
  --main--font-color-dark: #4A4A4A;
  --main--font-color-light: #A0B0B9;
  --main--font-family: "Open Sans", "Arial", sans-serif;
  --aditional--font-family: "Gilroy", "Helvetica", sans-serif;
}
body {
  min-width: 754px;
  margin: 0 auto;
  padding: 0;
  font-family: var(--main--font-family);
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: var(--main--font-color-dark);
  background-color: var(--basic-bg);
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}